/* You can add global styles to this file, and also import other style files */

* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}

html,
body {
    background: white;
    margin: 20px;
    color: #3e4144;
    -webkit-font-smoothing: antialiased;
}

dd {
    font-weight: bold;
}

button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
}

.suma {
    background-color: rgb(10, 163, 5);
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
}

.suma:hover {
    background-color: rgb(9, 255, 0);
}

.resta {
    background-color: rgb(182, 6, 29);
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
}

.resta:hover {
    background-color: rgb(255, 6, 39);
}

button:hover {
    background-color: rgb(80, 79, 79);
}

button:focus {
    outline: none;
}

.p-1 {
    padding: 1px;
}